/*Projects Page*/

.project-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  box-sizing: border-box;
  margin: 1rem 0.25rem;
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

.project-cards img {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
  border: 0;
}

.project-cards img:hover {
  opacity: 0.5;
  border-color: #efa700;
  transition: all 0.5s ease-out;
}

.description {
  flex: 1 0 auto;
  background: #283b4b;
  padding: 1em;
  border-bottom: solid 5px #efa700;
  padding-top: 10px;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  max-width: 130px;
  padding: 0.4rem 0.9rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover {
  background: #283b4b;
  color: #fff;
}

.btn-dark {
  background: #0e1820;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  transition: all 0.5s ease-out;
}

.btn-dark:hover,
.btn-light:hover {
  color: #efa700;
  border: 1px solid #efa700;
}

.btn-light {
  background: #5e676e;
  color: #fff;
  border: 1px solid #fff;
  margin-right: 15px;
  padding: 5px;
  transition: all 0.5s ease-out;
}

@media screen and (min-width: 1159px) {
  .card {
    flex: 0 1 calc(33% - 1em);
  }
}

@media screen and (max-width: 1150px) {
  .card {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex: 0 1 calc(100% - 1em);
  }
}
