/*Menu Button*/

/*Rotate into X with Menu lines*/

.menu-btn .close {
  display: inline-block;
  transform: rotate(180deg);
}

/*Rotate line 1*/
.menu-btn .close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
/*Hide line 2*/
.menu-btn .close .btn-line:nth-child(2) {
  opacity: 0;
}
/*Rotate line 2*/
.menu-btn .close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
