.toggle-btn {
  border: none;
  padding: 20px;
  background: transparent;
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 25px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.toggle-btn .btn-close,
.btn-open {
  position: relative;
  border-radius: 5px;
  width: 33px;
  height: 3px;
  margin: 5px;
  background: #fff;
  transition: all 0.5s ease-out;
}

.toggle-btn .btn-open {
  display: inline-block;
  transform: rotate(180deg);
}

.toggle-btn .btn-open:nth-child(1) {
  transform: rotate(45deg) translate(70px, -50px);
}
.toggle-btn .btn-open:nth-child(2) {
  opacity: 0;
}
.toggle-btn .btn-open:nth-child(3) {
  transform: rotate(-45deg) translate(-10px, 10px);
}
